@import "../../variables";

.header {
  background-color: transparent;
  height: $header-height;
  padding: 1rem 0;

  .nav {
    display: none;
    margin: 0 auto;
    justify-content: center;
    gap: 2rem;

    a {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      font-size: 1.2rem;

      &.active {
        background-color: #6b5438;
      }

      &:hover {
        background-color: #5a4530;
      }
    }
  }
}

/* ===== Tablet and up ===== */
@media (min-width: 768px) {
  app-hamburger-menu {
    display: none;
  }

  .header {
    background-color: #4a3a25;
    .nav {
      display: flex;
    }
  }
}
