<section class="hero">
  <div class="hero__subtitle">Warszawa · Bemowo · od 1993 roku</div>
  <h1 class="hero__title">
    Smak Wietnamu
    <br />
    <em class="hero__emphasis">w sercu Bemowa</em>
  </h1>
  <p class="hero__flavour-text">
    Unikatowa kuchnia inspirowana Wietnamem, przygotowywana z pasją i tradycją przez ponad trzy
    dekady.
  </p>
  <button class="hero__cta" routerLink="/menu">Zobacz nasze menu</button>
  <div class="hero__prompt prompt">
    <span class="prompt__text">Przewiń</span>
    <div class="prompt__arrow"></div>
  </div>
</section>
