@use "../../../mixins";

:host {
  background-color: rgba(132, 108, 48, 0.05);
  color: #4a3a25;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  padding: 24px 28px;
}

.menu-section {
  &__heading {
    @include mixins.section-heading;
  }

  &__subheading {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

  &__description {
    text-align: center;
    font-size: 14px;
    margin-bottom: 16px;
    font-style: italic;

    &--item {
      text-align: left;
      margin-left: 8px;
      margin-bottom: 0;
    }

    &--variant {
      text-align: left;
      font-size: 13px;
      margin-left: 8px;
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 6px;
    font-family: "Noto Serif", serif;
  }

  &__name {
    font-weight: 500;

    &--variant {
      font-weight: 400;
      margin-bottom: 6px;
    }
  }

  &__price {
    font-weight: bold;
    margin-left: auto;

    &--variant {
      text-align: right;
      white-space: nowrap;
      justify-self: end;
      align-self: baseline;
    }
  }

  &__spicyness {
    font-size: 12px;
    margin-left: 4px;

    &--variant {
      font-size: 12px;
    }
  }

  &__vegetarian {
    margin-left: 4px;
  }

  &__variants {
    padding-left: 8px;
    margin-top: 2px;
    margin-bottom: 12px;
  }

  &__variant {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "bullet content price";
    column-gap: 8px;
    align-items: baseline;
    margin-bottom: 8px;
    font-size: 15px;
  }

  &__bullet {
    grid-area: bullet;
    align-self: baseline;
    font-size: 18px;
    line-height: 1.2;
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
