<div class="footer">
  <img class="footer__logo" src="images/logo.png" alt="logo" />
  <div class="footer__section footer__contact">
    <div class="footer__item">
      <span class="footer__label">Adres:</span> Karabeli 2D, 01-313 Warszawa
    </div>
    <div class="footer__item">
      <span class="footer__label">Telefon:</span>
      <a class="footer__link" href="tel:+48226652526"> +48 22 665 25 26 </a>
    </div>
  </div>
  <div class="footer__section footer__opening-hours">
    <span class="footer__label">Godziny otwarcia:</span>
    <div class="footer__item">Pon-Pt: 11:00 - 20:00</div>
    <div class="footer__item">Sob-Nd: 11:00 - 19:00</div>
  </div>
  <div class="footer__section footer__socials">
    <div class="footer__item">
      <a href="https://www.facebook.com/profile.php?id=100053004776093">
        <img class="footer__icon" src="images/facebook.svg" alt="Facebook" />
      </a>
    </div>
    <div class="footer__item">
      <a href="https://maps.app.goo.gl/pcZG2Qk2roTJ5FCz5">
        <img class="footer__icon" src="images/map-marker.svg" alt="Google Maps" />
      </a>
    </div>
  </div>
</div>
<div class="copyright">© Damian Stachowicz-Le</div>
